body {
   /*background-size: 260px 460px;*/
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 100% 460px;
    
	background-color:rgb(0,0,0);
	font-family:arial;
	color:rgb(255,255,255);
	/*padding:5px 5px 5px 5px;
	margin:0px 0px 0px 0px;*/
	margin: 5px 5px 5px 5px;
}

.bodymenu {
	background-image:url(../imagens/backgrounds/animation4.gif);
}

.bodymetal {
	background-image:url(../imagens/backgrounds/brushed_metal_texture.jpg);
}
.bodyfundodomar {
	background-image:url(../imagens/backgrounds/animation2.2.gif);
}
.bodynight {
	background-image:url(../imagens/backgrounds/animation3.2.gif);
}

.btnlarg {
	/*width:240px;*/
	width:100%;
}
.txthint {
	width:22px;
	height:22px;
}
.divBlockLarg {
	display: block;
	background-color:rgba(0,0,0,0.5); 
	/*padding-top: 100%;*/
	/*padding:0px 0px 0px 0px;*/
	padding:5px 5px 5px 5px;
	
	/*width:240px;
	height:430;*/
}
.divBlock {
	display: table-cell;
	background-color:rgba(0,0,0,0.5); 
	/*padding-top: 100%;*/
	padding:5px 5px 5px 5px;
}
painel {
	display: block;
	/*display: table-cell;*/
	background-color:rgba(0,0,0,0.5); 
	/*padding-top: 100%;*/
	padding:360px 5px 5px 5px;
	/*vertical-align: bottom;*/
}
