@media (max-width:260px) {
	body {
		background-image:url(../imagens/backgrounds/animation4.gif);
		background-size: 260px 460px;
	   background-repeat: no-repeat;
	}
	button {
		width:100%;
	}
	painel {
		background-color:rgba(0,0,0,0.5); 
		padding:5px 5px 5px 5px;
		display: block;
	}
}
